<div class="container3">
        <aside>
            <div class="sidebar-header">
                <button class="add-btn">+</button>
            </div>
            <ul class="sidebar-list">
                <li>1</li>
                <li>2</li>
            </ul>
        </aside>

        <main>
            <div class="grid">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
        </main>
    </div>