<main>
    <div class="card-poke">
        <div class="container-fluid py-5">
            <h3> login: </h3>
            <div class="card-poke">

                <form action="/" >
                    <label for="nome">Nome de Usuário: </label>
                    <input type="text" id="nome" name="nome" placeholder="Digite o nome de usuário"
                        class="form-control">
                    <br>
                    <label for="senha">Senha: </label>
                    <input type="password" id="senha" name="senha" placeholder="Digite a senha" class="form-control">
                    <br>
                    <button type="submit" class="btn-add">Login</button>
                </form>
            </div>
        </div>
    </div>  
</main>