<div class="card-poke text-center">
    <div class="card-footer">
<hr>    
        <h8 class="card-title">Agradecemos pela escolha</h8>
      

        <h8> ©2023 Copyright: Céos</h8>
        
    </div>
</div>