<header class="navbar">
    <div class="logo" href="/">Browniesitos</div>
    <nav>
        <ul class="menu">
            <li><a href="#">Home</a></li>
           
            <li><a href="/sobre" id="btn-sobre">Sobre</a></li>

        </ul>
    </nav>
    <div class="menu    ">
        <a href="/login" class="btn btn-light">Entrar</a>
        <a href="#" class="btn btn-dark">Cadastre-se</a>
    </div>
</header>